.results_table {
  table-layout: fixed;
  width: 50%;
  border-collapse: collapse;
  border: 3px solid;
}

.results_table td {
    padding: 10px;
    text-align: center;
}

.results_table thead th:nth-child(1) {
  width: 20%;
  text-align: center;
}
.results_table thead th:nth-child(2) {
    width: 70%;
    text-align: center;
}
.results_table thead th:nth-child(3) {
    width: 10%;
    text-align: center;
}

tbody tr:nth-child(odd) {
   background-color: #ccc;
}


