<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>

