{% extends "base.html" %}
{% block title %}Checkout{% endblock %}
{% block body %}
    <h1>Checkout</h1>
    {% if game_info is defined %}
        <form action="/complete_checkout" method="post">
            <table class="results_table">
                <thead>
                    <tr>
                        <th>Thumbnail</th>
                        <th>Title</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in game_info %}
                        <tr>
                            <td><img src="{{game.image_url}}"></td>
                            <td>{{game.name}}</td>
                            <td>
                                <input type="checkbox" name="selected" value="{{game.id}}">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Check Out Games">
        </form>
    {% endif %}
{% endblock %}
