{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block body %}
    <h1>Search:</h1>
    <form action="/search" method="get">
        <div>
            <label for="search_box">Search for a game:</label>
            <input type="text" id="search_box" name="query">
            <input type="submit" value="search">
        </div>
    </form>
    {% if results is defined %}
        <form action="/checkout" method="post">
            <table class="results_table">
                <thead>
                    <tr>
                        <th>Thumbnail</th>
                        <th>Title</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in results %}
                        <tr>
                            <td><img src="{{game.image_url}}"></td>
                            <td>{{game.name}}</td>
                            <td>
                                <input type="checkbox" name="selected" value="{{game.id}}">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Check Out Games">
        </form>
    {% endif %}
{% endblock %}
